<!DOCTYPE html>
<html lang="en" ng-app="soundboardApp">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <link rel="stylesheet" href="/css/dist/all.css">
    </head>
    <body>
        <header class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sb-navbar" aria-controls="sb-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#/" class="navbar-brand">Soundboard</a>
                </div>

                <nav id="sb-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#/upload">Upload</a>
                        </li>
                        <li>
                            <a href="#/record">Record</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">
            <div ng-view></div>
        </div>

        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="/bower/modernizr/modernizr.js"></script>
        <script src="/bower/Recorderjs/recorder.js"></script>
        <script src="/bower/angular/angular.min.js"></script>
        <script src="/bower/angular-route/angular-route.min.js"></script>
        <script src="/js/thirdparty/buffer-loader.js"></script>
        <script src="/js/app/soundboardApp.js"></script>
        <script src="/js/app/controllers.js"></script>
        <script src="/js/app/directives/dropTarget.js"></script>
        <script src="/js/app/factories/soundFactory.js"></script>
    </body>
</html>
