<!DOCTYPE html>
<html lang="en" ng-app="soundboardApp">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <link rel="stylesheet" href="/css/dist/all.min.css">
    </head>
    <body>

        <div class="container">

            <div class="buttons">
                <a href="#/">Soundboard</a>
                <a href="#/upload-sound">Upload</a>
                <a href="#/record">Record</a>
            </div>

            <div ng-view></div>
        </div>

        <script src="/bower/modernizr/modernizr.js"></script>
        <script src="/bower/Recorderjs/recorder.js"></script>
        <script src="/bower/angular/angular.min.js"></script>
        <script src="/bower/angular-route/angular-route.min.js"></script>
        <script src="/js/thirdparty/buffer-loader.js"></script>
        <script src="/js/app/soundboardApp.js"></script>
        <script src="/js/app/controllers.js"></script>
        <script src="/js/app/directives/dropTarget.js"></script>
        <script src="/js/app/factories/soundFactory.js"></script>
    </body>
</html>
