<!DOCTYPE html>
<html lang="en" ng-app="soundboardApp">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <a href="/">Soundboard</a><br>
        <a href="#upload-sound">Upload</a>

        <div ng-view></div>

        <script src="/bower/angular/angular.min.js"></script>
        <script src="/bower/angular-route/angular-route.min.js"></script>
        <script src="/js/app/soundboardApp.js"></script>
        <script src="/js/app/controllers.js"></script>
        <script src="/js/app/directives/dropTarget.js"></script>
        <script src="/js/app/factories/soundFactory.js"></script>
    </body>
</html>
