$green: green;
$lightgreen: lightgreen;
$red: red;

body {
    font-size: 12px;
    font-family: arial;
}

p {
    margin: 0 0 3px;
}

a:hover {
    text-decoration: none;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

a:link { color: #000; }
a:visited { color: #000; }
