@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'functions';
@import 'common';
@import 'forms';

.container {
    max-width: 900px;
    margin: 0 auto;
    //text-align: center;
}

.buttons {
    a {
        display: inline-block;
        margin: 10px 2% 0 2%;
        text-decoration: none;
        font-size: 20px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.sound {
    margin-bottom: 40px;
    display: inline-block;
    width: 20%;

    @include breakpoint(1100px) {
        width: 20%;
    }

    @include breakpoint(775px) {
        width: 33%;
    }

    @include breakpoint(520px) {
        width: 50%;
    }

    p {
        margin: 0;
    }

    p.description {
        min-height: 50px;
        padding-top: 10px;
    }

    a.info {
        &:hover {

        }
    }

    .sound-inner {
        //margin: 0 auto;
        width: 110px;
        @include breakpoint(320px) {
            width: 100%;
        }
    }

    .info-extended {
        height: 0;
        overflow: hidden;
        @include transition (height .5s ease-in-out, background-color 4s);
        &.open {
            height:200px;
            background-color: #eee;
            border: 1px solid #D0CFCF;
        }
    }
}

.uploader-container {
    .dropzone {
        border: 5px dashed;
        width: 200px;
        height: 200px;
        margin-top: 40px;

        &.active {
            border-color: $green;
            background-color: rgb(152, 209, 152);
        }

        p {
            font-size: 62px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            line-height: 33px;
            margin: 0;
            left: 42%;

        }
    }
}
