<div class="detail">

    <input
        type="text"
        name="name"
        ng-model="sound.description"
        ng-change="changed()"
        value="{{sound.description}}"
        placeholder="Name">

    <input
        type="text"
        name="tags"
        ng-model="sound.tags"
        ng-change="changed()"
        value="{{sound.tags}}"
        placeholder="Tags">

    <button ng-click="update()" class="{{savedStatus}}">{{savedStatus}}</button>

    <p><b>Original File name:</b> {{sound.originalName}}</p>
    <p><b>File Size:</b> {{sound.fileSize / 1000 | number:0}} kilobytes</p>
    <p><b>Mime Type:</b> {{sound.mimeType}}</p>

    <hr/>
    <div class="audio-content">
        <p>Gain</p>
        <input type="range" name="gain" min="0" max="10" ng-model="gain" />
        <br/>
        <input type="checkbox" ng-model="loop"/>Loop
        <br/>
        <button ng-click="play($event)">Play</button>
        <br/>
        <button ng-click="stop($event)">Stop</button>
        <br/>
        <button ng-click="save($event)">Save</button>

        <div class="signal-container">
            <canvas></canvas>
        </div>
    </div>
    
</div>
