<div class="">
    <p><b>Original name:</b> {{sound.originalName}}</p>
    <p><b>File Size:</b> {{sound.fileSize}} bytes</p>

    <audio controls>
        <source ng-src="{{ audioRootDirectory + sound.name + '.' + sound._extension }}"
            type="{{sound.mimeType}}" />
    </audio>

    <br><br>

    <input
        type="text"
        name="description"
        ng-model="sound.description"
        ng-change="changed()"
        value="{{sound.description}}"
        placeholder="Description">

    <input
        type="text"
        name="tags"
        ng-model="sound.tags"
        ng-change="changed()"
        value="{{sound.tags}}"
        placeholder="Tags">

    <button ng-click="update()" class="{{savedStatus}}">{{savedStatus}}</button>

</div>
