<div class="">
<!--     <audio controls>
    <source ng-src="{{ audioRootDirectory + sound.name + '.' + sound._extension }}"
        type="{{sound.mimeType}}" />
</audio> -->

    <br><br>

    <input
        type="text"
        name="name"
        ng-model="sound.description"
        ng-change="changed()"
        value="{{sound.description}}"
        placeholder="Name">

    <input
        type="text"
        name="tags"
        ng-model="sound.tags"
        ng-change="changed()"
        value="{{sound.tags}}"
        placeholder="Tags">

    <button ng-click="update()" class="{{savedStatus}}">{{savedStatus}}</button>

    <p><b>Original File name:</b> {{sound.originalName}}</p>
    <p><b>File Size:</b> {{sound.fileSize / 1000 | number:0}} kilobytes</p>
    <p><b>Mime Type:</b> {{sound.mimeType}}</p>

</div>
