<div>
    <h1>sounds</h1>
    <input type="text" ng-model="search" placeholder="Search...">

    <div ng-repeat="sound in sounds | filter:search" class="sound">

        <img src="/img/play.png" alt="" ng-click="toggle($event, this)">
        <audio class="stopped">
            <source ng-src="{{ audioRootDirectory + sound.name + '.' + sound._extension }}"
                type="{{sound.mimeType}}" />
        </audio>

        <p>{{sound.description || sound.originalName}}</p>
        <p>tags: <i>{{sound.tags || '-'}}</i></p>
        <a class="info" href="/#/sound-detail/{{sound.name}}">Info</a>
        <a class="delete" href="#" ng-click="delete($event, this)">delete</a>

    </div>
</div>
