<div>
    <h1>sounds</h1>
    <div ng-repeat="sound in sounds">
        <p>{{sound.description || sound.originalName}}</p>
        <a class="info" href="/#/sound-detail/{{sound.name}}">Info</a>
        <a class="delete" href="#" ng-click="delete($event, this)">delete</a>
        <img src="/img/play.png" alt="" ng-click="toggle($event, this)">
        <audio class="stopped">
            <source ng-src="{{ audioRootDirectory + sound.name + '.' + sound._extension }}"
                type="{{sound.mimeType}}" />
        </audio>
    </div>
</div>
