<div>
<!--     <form name="audio-upload" action="/upload" method="post" enctype="multipart/form-data">
    Label: <input type="text" name="label"><br><br>
        <input type="file" name="upload-file" multiple="true"><br>
        <input type="submit" value="Submit">
     <div ng-repeat="field in fields">

     </div>
 </form> -->

    <div drop-target class="dropzone">Drag files here</div>

    <ul>
        <li ng-repeat="file in uploading">
            {{file.name}} {{file.type}} {{file.size}}
        </li>
    </ul>
</div>
